
@font-face {
    font-family: newAwesom;
    src: url(Inconsolata-VariableFont_wdth,wght.ttf);
  }

html,body{
    font-family: newAwesom;
    background: whitesmoke;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom right, #a1c2dc, #e91e6340 ,#2196f39e);
    
}

#left-col{

    background-color: #193850;

    /* position: fixed; */
    /* min-width: 290px; */
    top: 0px;
    left: 0px;
    width: 30%;
    margin-left: 7%;
    height: 100%;
    /*border: 2px solid;*/
    
}

#main-cv{
    width: 33%;
   /* border: 2px solid;*/
    position: absolute;
    top: 0;
    margin-left: 44%;
    padding: 1%;
    height: 100%;
    left: 0;


}
#container{
    margin: 0 22%;
    /*border: 4px dotted;*/
    width: 58%;
    /*height: 1000px;*/
    background-color: white;
}

#personal{

position: relative;
overflow: hidden;

}
#personal-img{
    position: relative;
    width: 134px;
    height: 130px;
    border-radius: 93px;
    max-width: 100%;
    margin-top: 65px;

}
#contact{
    text-align: initial;
    margin-top: 39px;
}
#contact p{

    margin: 0;
    font-size: .571rem;
    color: white;
    padding-top: 3px;
    padding-bottom: 23px;
    padding-left: 44px;
}
#contact-icon
{
    position: absolute;
    left: 22%;
    top: 43%;
}
#contact-icon div{
    margin-bottom: 13px;
    width: 88px;
    /* border: 1px solid; */
    background-color: #5ebdd8;
    /* text-align: end; */
    height: 34px;
    color: white;
    border-top-right-radius: 34%;

}
#contact-icon div i{
    padding-left: 53px;
    font-size: 15px;

}
#lang progress ,#expr  progress{
    border: none;
    width: 126px;
    height: 15px;
  }
  progress::-webkit-progress-bar {
    background: white;
  }
  
  progress::-webkit-progress-value {
    background: #5ebdd8;
  }

  #lang {
    text-align: initial;
    margin-top: 39px;
  }
  
 #lang div ,#expr div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    font-size: .571rem;
    color: white;
    padding-top: 3px;
    padding-bottom: 23px;
    padding-left: 14px;
    padding-right: 13px;
 }
 #expr{
    text-align: initial;
    margin-top: 39px;
 }
  
 #name{
    border-top-right-radius: 35%;
    position: absolute;
    top: 12%;
    left: 42%;
    background-color: #5ebdd8;
    color: white;
    height: 78px;
    z-index: 1;
    width: 357px;
    line-height: 1.1;
    text-align: center;
    border-bottom-left-radius: 35%;

 }
 #name h1{
    margin: 0 0;
    font-weight: 100;
    color: white;
    padding: 0;
 }
#aboutme{
    margin-top: 45%;
    text-align: start;
}

#aboutme span ,#edu span ,#exper span{
    font-weight: 600;
    padding-left: 10px;
    color: #193850;

}
#aboutme i ,#edu i ,#exper i{
    width: 30px;
    border-radius: 50%;
    background: #5ebdd8;
    height: 30px;
    color: white;
    text-align: center;
    padding-top: 3px;

}

#main-cv p{
    text-align: initial;
    font-size: .671rem;
    color: #193850;
    margin-top: 33px;

}

#edu{
    margin-top: 7%;
    text-align: start;
}

#edu-details{
    display: flex;
    flex-direction: row;
}
#date{
    width: 42%;
    font-size: 15px;
    text-align: start;
    margin-top: 26px;
    font-weight: 600;
    color: #193850;
}
#info{
    margin-top: 19px;
    color: #193850;
    text-align: start;
}

#exper{
    margin-top: 8%;
    text-align: start;

}


